<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace = 所需实现的接口全限定名-->
<mapper namespace="com.qf.wfx.merchant.dao.CopyDAO">
    <resultMap id="copyMap" type="Copy">
        <id column="copy_id" property="copyId"/>
        <result column="copy_title" property="copyTitle"/>
        <result column="copy_link" property="copyLink"/>
        <result column="copy_content" property="copyContent"/>
        <result column="order_no" property="orderNo"/>
        <result column="type_id" property="typeId"/>
        <result column="goods_id" property="goodsId"/>
    </resultMap>
<!--    public List<Copy> listAllCopy();-->
    <select id="listAllCopy" resultMap="copyMap">
        select  copy_id,copy_title,copy_content,order_no,type_id from  wxb_good_copy
    </select>
<!--    public List<Copy> listCopyByPage(@Param("start") int start,-->
<!--    @Param("limit") int limit);//分页查询-->
    <select id="listCopyByPage" resultMap="copyMap">
       select copy_id,copy_title,copy_content,order_no, type_id
        from wxb_good_copy  limit #{start},#{limit}
    </select>

<!--    public int delectCopy(String cid);-->
    <delete id="delectCopy" >
        delete from wxb_good_copy where copy_id=#{copy_id}
    </delete>
<!--    public int updateCopy(Copy copy);-->
    <update id="updateCopy">
        update wxb_good_copy set
        copy_title = #{copyTitle},
        copy_content = #{copyContent},
        order_no=#{orderNo},
        type_id=#{typeId}
        where copy_id = #{copyId}
    </update>
<!--    public int insertCopy(Copy copy);-->
    <insert id="insertCopy">
    insert into wxb_good_copy(copy_title,copy_link,copy_content,order_no,type_id)
    values(#{copyTitle},#{copyLink},#{copyContent},#{orderNo},#{typeId})
</insert>
</mapper>
