<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace = 所需实现的接口全限定名-->
<mapper namespace="com.qf.wfx.merchant.dao.CustomerDAO">
    <resultMap id="customerMap" type="Customer">
        <id column="customer_id" property="customerId"/>
        <result column="customer_name" property="customerName"/>
        <result column="QQ" property="cusQQ"/>
        <result column="wxh" property="cusWxh"/>
        <result column="phone" property="cusPhone"/>
        <result column="createtime" property="createTime"/>
        <result column="login_name" property="loginName"/>
        <result column="login_pwd" property="loginPwd"/>
        <result column="state" property="state"/>
        <result column="level" property="level"/>
        <result column="acc_balance" property="accBalance"/>
        <result column="update_time" property="updateTime"/>
        <result column="website" property="webSite"/>
    </resultMap>
<!--    public Customer login(String loginName,String loginPwd);-->
<select id="login" resultMap="customerMap">
    select * from wxb_customer where login_name=#{loginName} and login_pwd=#{loginPwd}
</select>

</mapper>
